{% extends "base.html" %}
{% block content %}

<h2>Admin – Add Doctor Slot</h2>

<form method="POST" style="max-width:400px">

    <label>Doctor</label>
    <select name="doctor_id" required>
        {% for d in doctors %}
            <option value="{{ d.id }}">
                {{ d.name }} ({{ d.specialty }})
            </option>
        {% endfor %}
    </select>

    <br><br>

    <label>Slot (YYYY-MM-DD HH:MM)</label>
    <input type="text" name="slot" placeholder="2025-12-20 10:00" required>

    <br><br>

    <button class="btn primary">Add Slot</button>

</form>

{% endblock %}
